In [70]:
import pandas as pd
import numpy as np
import csv

Parks Data:

In [62]:
parks_data_to_load = "./Resources/parks.csv"
parks_df = pd.read_csv(parks_data_to_load, encoding="utf-8")
parks_df.head(5)

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [63]:
renamed_parks_df = parks_df.rename(columns={"Park Code": "park_code",
                                        "Park Name": "park_name",
                                        "State": "state",
                                        "Acres": "acres",
                                        "Latitude": "latitude",
                                        "Longitude": "longitude",
                                                                    })
renamed_parks_df.head(5)

  park_code               park_name state   acres  latitude  longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

Trails Data:

In [65]:
trails_data_to_load = "./Resources/trail_data.csv"
trails_df = pd.read_csv(trails_data_to_load, low_memory=False, encoding="utf-8")
trails_df.head(5)

,trail_id,name,area_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,"['dogs-no', 'forest', 'river', 'views', 'water...","['birding', 'camping', 'hiking', 'nature-trips...",i
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,507.7968,3,out and back,1.0,4.5,260,"['dogs-no', 'forest', 'views', 'wild-flowers',...","['birding', 'camping', 'hiking', 'nature-trips...",i
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,81.9912,1,out and back,3.0,4.5,224,"['dogs-no', 'partially-paved', 'views', 'wildl...","['hiking', 'walking']",i
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,119.7864,1,loop,2.0,4.5,237,"['dogs-no', 'forest', 'lake', 'kids', 'views',...","['birding', 'hiking', 'nature-trips', 'trail-r...",i
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,110,"['dogs-no', 'lake', 'views', 'wild-flowers', '...","['birding', 'fishing', 'hiking', 'nature-trips...",i

In [67]:
renamed_trails_df = trails_df.rename(columns={"area_name": "park_name",
                                            })
renamed_trails_df.head()

,trail_id,name,park_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,"['dogs-no', 'forest', 'river', 'views', 'water...","['birding', 'camping', 'hiking', 'nature-trips...",i
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,507.7968,3,out and back,1.0,4.5,260,"['dogs-no', 'forest', 'views', 'wild-flowers',...","['birding', 'camping', 'hiking', 'nature-trips...",i
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,81.9912,1,out and back,3.0,4.5,224,"['dogs-no', 'partially-paved', 'views', 'wildl...","['hiking', 'walking']",i
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,119.7864,1,loop,2.0,4.5,237,"['dogs-no', 'forest', 'lake', 'kids', 'views',...","['birding', 'hiking', 'nature-trips', 'trail-r...",i
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,110,"['dogs-no', 'lake', 'views', 'wild-flowers', '...","['birding', 'fishing', 'hiking', 'nature-trips...",i

In [46]:
trail_count = trails_df.groupby(["area_name"]).count()["trail_id"]
print(trail_count)

area_name
Acadia National Park                               179
Arches National Park                                48
Badlands National Park                              10
Big Bend National Park                              70
Biscayne National Park                               4
Black Canyon of the Gunnison National Park          24
Bryce Canyon National Park                          31
Canyonlands National Park                           77
Capitol Reef National Park                          42
Carlsbad Caverns National Park                       8
Channel Islands National Park                       22
Clayton Co International Park, Jonesboro GA          1
Congaree National Park                               7
Congaree National Park Wilderness                    1
Crater Lake National Park                           22
Cuyahoga Valley National Park                       50
Death Valley National Park                          79
Denali National Park                                20
Dry Tortugas National Park                           1
Everglades National Park                            24
Fort Hunt National Park                              3
Fort Pickens National Park                           2
Gateway Arch National Park                           2
Glacier Bay National Park                            5
Glacier National Park                              132
Grand Canyon National Park                          99
Grand Teton National Park                          102
Great Basin National Park                           22
Great Sand Dunes National Park and Preserve         14
Great Smoky Mountains National Park                293
Guadalupe Mountains National Park                   24
Haleakala National Park                             14
Hawaii Volcanoes National Park                      35
Hot Springs National Park                           16
Indiana Dunes National Park                         16
Isle Royale National Park                            4
Joshua Tree National Park                          108
Katmai National Park                                 2
Kenai Fjords National Park                           2
Kings Canyon National Park                          61
Lassen Volcanic National Park                       59
Mammoth Cave National Park                          28
Mesa Verde National Park                            17
Mount Rainier National Park                        130
North Cascades National Park                        20
Olympic National Park                              170
Petrified Forest National Park                      15
Pinnacles National Park                             27
Redwood National Park                               22
Rocky Mountain National Park                       207
Saguaro National Park                               60
Sequoia National Park                               90
Shenandoah National Park                           187
Theodore Roosevelt National Park                    23
Voyageurs National Park                              7
Wind Cave National Park                             10
Wolf Trap National Park for the Performing Arts      1
Yellowstone National Park                          228
Yosemite National Park                             242
Zion National Park                                  94
Name: trail_id, dtype: int64

In [45]:
trail_pop_avg = trails_df.groupby(["area_name"]).mean()["popularity"]
print(trail_pop_avg)

area_name
Acadia National Park                                8.375920
Arches National Park                               13.462423
Badlands National Park                             13.141040
Big Bend National Park                              7.176380
Biscayne National Park                              4.055200
Black Canyon of the Gunnison National Park          7.690121
Bryce Canyon National Park                         16.617903
Canyonlands National Park                           8.143584
Capitol Reef National Park                          9.006231
Carlsbad Caverns National Park                      5.329462
Channel Islands National Park                       5.626650
Clayton Co International Park, Jonesboro GA         4.729100
Congaree National Park                              7.156614
Congaree National Park Wilderness                   3.308300
Crater Lake National Park                          12.430750
Cuyahoga Valley National Park                       8.771132
Death Valley National Park                          6.359223
Denali National Park                                6.091125
Dry Tortugas National Park                          5.177600
Everglades National Park                            4.532038
Fort Hunt National Park                             4.921167
Fort Pickens National Park                          6.373850
Gateway Arch National Park                          5.306350
Glacier Bay National Park                           2.159100
Glacier National Park                              10.061925
Grand Canyon National Park                          9.716001
Grand Teton National Park                           9.373725
Great Basin National Park                           6.347132
Great Sand Dunes National Park and Preserve         8.381900
Great Smoky Mountains National Park                 8.313232
Guadalupe Mountains National Park                   7.075000
Haleakala National Park                            13.723586
Hawaii Volcanoes National Park                      6.123489
Hot Springs National Park                           7.326819
Indiana Dunes National Park                         5.099050
Isle Royale National Park                           3.018375
Joshua Tree National Park                           7.860079
Katmai National Park                                2.263250
Kenai Fjords National Park                         21.337600
Kings Canyon National Park                          7.893915
Lassen Volcanic National Park                       7.117390
Mammoth Cave National Park                          5.800725
Mesa Verde National Park                            8.225906
Mount Rainier National Park                        11.726444
North Cascades National Park                        9.374660
Olympic National Park                               9.389508
Petrified Forest National Park                      7.688287
Pinnacles National Park                             9.421904
Redwood National Park                               7.145291
Rocky Mountain National Park                       13.007846
Saguaro National Park                               6.639557
Sequoia National Park                              10.158119
Shenandoah National Park                            8.517370
Theodore Roosevelt National Park                    5.785835
Voyageurs National Park                             3.040929
Wind Cave National Park                             5.500610
Wolf Trap National Park for the Performing Arts     7.111900
Yellowstone National Park                           7.006884
Yosemite National Park                              9.235686
Zion National Park                                 12.027557
Name: popularity, dtype: float64

In [76]:
# Assign empty list for park names
park_name_options = []

with open(trails_data_to_load) as trails_data:

    # To do: perform and read analysis data.
    reader = csv.reader(trails_data)

    #Read the header row
    #header = next(file_reader)

    #Iterate each row in the trail_data.csv file.
    for row in reader:
        
        # Print the park name from each row
        park_name = row[2]
        
        # If the park name does not match any existing candidate add it to park name options list
        if park_name not in park_name_options:
            
            #Add it to the list 
            park_name_options.append(park_name)
            
park_name_options

UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 289: character maps to <undefined>

Biodiversity Data

In [49]:
biodiversity_data_to_load = "./Resources/species.csv"
bio_df = pd.read_csv(biodiversity_data_to_load, low_memory=False)
bio_df.head()

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN,NaN
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN,NaN
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern,NaN
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered,NaN
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN,NaN

In [12]:
bio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119248 entries, 0 to 119247
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Species ID           119248 non-null  object
 1   Park Name            119248 non-null  object
 2   Category             119248 non-null  object
 3   Order                117776 non-null  object
 4   Family               117736 non-null  object
 5   Scientific Name      119248 non-null  object
 6   Common Names         119248 non-null  object
 7   Record Status        119248 non-null  object
 8   Occurrence           99106 non-null   object
 9   Nativeness           94203 non-null   object
 10  Abundance            76306 non-null   object
 11  Seasonality          20157 non-null   object
 12  Conservation Status  4718 non-null    object
 13  Unnamed: 13          5 non-null       object
dtypes: object(14)
memory usage: 12.7+ MB

In [77]:
bio_count = bio_df.groupby(["Park Name"]).count()["Species ID"]
print(bio_count)

Park Name
Acadia National Park                              1709
Arches National Park                              1048
Badlands National Park                            1389
Big Bend National Park                            2269
Biscayne National Park                            1726
Black Canyon of the Gunnison National Park        1106
Bryce Canyon National Park                        1286
Canyonlands National Park                         1223
Capitol Reef National Park                        1566
Carlsbad Caverns National Park                    1536
Channel Islands National Park                     1885
Congaree National Park                            2321
Crater Lake National Park                         3760
Cuyahoga Valley National Park                     1941
Death Valley National Park                        4439
Denali National Park and Preserve                 1320
Dry Tortugas National Park                         848
Everglades National Park                          2084
Gates Of The Arctic National Park and Preserve    1353
Glacier Bay National Park and Preserve            1957
Glacier National Park                             2556
Grand Canyon National Park                        2622
Grand Teton National Park                         2030
Great Basin National Park                         2653
Great Sand Dunes National Park and Preserve        952
Great Smoky Mountains National Park               6623
Guadalupe Mountains National Park                 1746
Haleakala National Park                           2580
Hawaii Volcanoes National Park                    3298
Hot Springs National Park                         1950
Isle Royale National Park                         1397
Joshua Tree National Park                         2294
Katmai National Park and Preserve                 1225
Kenai Fjords National Park                        1057
Kobuk Valley National Park                        1025
Lake Clark National Park and Preserve             2007
Lassen Volcanic National Park                     1797
Mammoth Cave National Park                        2499
Mesa Verde National Park                          1243
Mount Rainier National Park                       1743
North Cascades National Park                      3363
Olympic National Park                             1948
Petrified Forest National Park                     853
Pinnacles National Park                           1416
Redwood National Park                             6310
Rocky Mountain National Park                      3152
Saguaro National Park                             1834
Sequoia and Kings Canyon National Parks           1995
Shenandoah National Park                          4655
Theodore Roosevelt National Park                  1165
Voyageurs National Park                           1453
Wind Cave National Park                           1395
Wrangell - St Elias National Park and Preserve    1796
Yellowstone National Park                         3966
Yosemite National Park                            2088
Zion National Park                                1796
Name: Species ID, dtype: int64

In [52]:
reduced_bio_df = bio_df[["Species ID", "Park Name", "Scientific Name", "Record Status",
                       "Occurrence", "Abundance", "Conservation Status"]].copy()
reduced_bio_df.head()

,Species ID,Park Name,Scientific Name,Record Status,Occurrence,Abundance,Conservation Status
0,ACAD-1000,Acadia National Park,Alces alces,Approved,Present,Rare,NaN
1,ACAD-1001,Acadia National Park,Odocoileus virginianus,Approved,Present,Abundant,NaN
2,ACAD-1002,Acadia National Park,Canis latrans,Approved,Present,Common,Species of Concern
3,ACAD-1003,Acadia National Park,Canis lupus,Approved,Not Confirmed,NaN,Endangered
4,ACAD-1004,Acadia National Park,Vulpes vulpes,Approved,Present,Common,NaN

In [53]:
renamed_bio_df = reduced_bio_df.rename(columns={"Species ID": "species_id",
                                        "Park Name": "park_name",
                                        "Scientific Name": "scientific_name",
                                        "Record Status": "record_status",
                                        "Occurrence": "occurence",
                                        "Abundance": "abundance",
                                        "Conservation Status": "conservation_status",
                                       })
renamed_bio_df.head()

,species_id,park_name,scientific_name,record_status,occurence,abundance,conservation_status
0,ACAD-1000,Acadia National Park,Alces alces,Approved,Present,Rare,NaN
1,ACAD-1001,Acadia National Park,Odocoileus virginianus,Approved,Present,Abundant,NaN
2,ACAD-1002,Acadia National Park,Canis latrans,Approved,Present,Common,Species of Concern
3,ACAD-1003,Acadia National Park,Canis lupus,Approved,Not Confirmed,NaN,Endangered
4,ACAD-1004,Acadia National Park,Vulpes vulpes,Approved,Present,Common,NaN