In [5]:
from sklearn.linear_model import LinearRegression
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
from pathlib import Path
from path import Path


pd.options.display.max_rows = 100

In [7]:
# Load the data
file_path = Path('Resources/parks_trails_final.csv')
df = pd.read_csv(file_path)
df.head()

,park_code,park_name,state,acres,latitude,longitude,trail_count,avg_popularity
0,ACAD,Acadia National Park,ME,47390,44.35,-68.21,179.0,8.375920
1,ARCH,Arches National Park,UT,76519,38.68,-109.57,48.0,13.462423
2,BADL,Badlands National Park,SD,242756,43.75,-102.50,10.0,13.141040
3,BIBE,Big Bend National Park,TX,801163,29.25,-103.25,70.0,7.176380
4,BISC,Biscayne National Park,FL,172924,25.65,-80.08,4.0,4.055200